fastapi==0.111.0 # type: ignore
uvicorn==0.30.1 # type: ignore
pandas==2.2.2 # type: ignore
scikit-learn==1.5.0  # type: ignore
joblib==1.4.2   # type: ignore
requests==2.32.3 # type: ignore
python-dotenv==1.0.1 # type: ignore
ortools==9.10.4067 # type: ignore
